*{
  margin: 0;
  padding: 0;
}
.main-logo{
  width: 100px;
}
.header{
  width: 350px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heart{
  font-size: 20px;
  color: white;
}
.plus{
  font-size: 20px;
  color: white;
}
.a{
  display: flex;
  flex-grow:0.6;
}
.body{
  display: flex;
  justify-content: center;
}